.container {
  background-color: #c00025;
  width: 100%;
  max-width: 550px;
  height: 600px;
  border-radius: 15px;
  border: 2px solid grey;
  padding-bottom: 25px;
  //   display: grid;
  //   grid-template-columns: 20px 340px 170px 20px;
  //   grid-template-rows: 50px 100px 200px auto;

  .logo-container {
    width: 300px;
    margin-left: 30px;
  }

  .charContainer {
    width: 450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 150px;
    grid-template-rows: 80px 300px;
    grid-row-gap: 10px;

    .specialContainer {
      width: 300px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      .specialButtons {
        display: flex;
        justify-content: space-evenly;
      }
    }

    .numberContainer {
      width: 300px;
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      .numberButtons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    .operatorContainer {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      justify-self: center;

      .operatorsButtons {
        display: flex;
        align-content: flex-end;
        flex-direction: column;
      }
    }
  }

  button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 0.5px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-top: 10px;
    font-size: 2rem;
  }
}
.display {
  margin: 25px auto 0 auto;
  height: 100px;
  width: 450px;
  border-radius: 50px;
  color: white;
  background-color: #322c2d;
  box-shadow: 1px 1px #322c2d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 8%;
  font-size: 5rem;
  border: 2px solid white;
}
